@font-face {
  font-family: "HelveticaLTStd-Light";
  src: url(../assets/fonts/HelveticaLTStd-Light.woff2) format("woff2"),
    url(../assets/fonts/HelveticaLTStd-Light.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "HelveticaLTStd-Roman";
  src: url(../assets/fonts/HelveticaLTStd-Roman.woff2) format("woff2"),
    url(../assets/fonts/HelveticaLTStd-Roman.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SegoeWPBold";
  src: url(../assets/fonts/SegoeWPBold.woff2) format("woff2"), url(../assets/fonts/SegoeWPBold.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SegoeWP";
  src: url(../assets/fonts/segoe-wp.woff2) format("woff2"), url(../assets/fonts/segoe-wp.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SegoeWPSemiLight";
  src: url(../assets/fonts/SegoeWPSemiLight.woff2) format("woff2"),
    url(../assets/fonts/SegoeWPSemiLight.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SegoeWPLight";
  src: url(../assets/fonts/SegoeWPLight.woff2) format("woff2"), url(../assets/fonts/SegoeWPLight.woff) format("woff");
  font-display: swap;
}
