html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
}
a {
    text-decoration: none;
    display: inline-block;
}
.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}
body {
    font-family: "SegoeWP";
}
